In [10]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df= pd.read_csv("adult.data.csv")
    df.head()
    df = None


    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

    # What is the average age of men?
    average_age_men = None

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [34]:
import numpy as np
import pandas as pd

In [16]:
df= pd.read_csv("adult.data.csv")

In [26]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
race_count = None

In [22]:
df

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [35]:
race=df["race"]

In [43]:
race.describe()

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object

In [48]:
race.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [49]:
df["age"].mean()

38.58164675532078

What is the percentage of people who have a Bachelor's degree?
Para obtener un porcentaje de un grupo 
(total del grupo A / total de la muestra)*100

In [55]:
total=len(df)

In [62]:
totalA= (df["education"]=="Bachelors").sum()

In [65]:
porcentaje= (totalA/total)*100

In [66]:
porcentaje

16.44605509658794

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
Dos condicionales : suma de personas con educacion avanzada Y que hacen más de 50 k

In [113]:
sumA=((df["education"].isin(["Bachelors","Masters","Doctorate"])) & (df["salary"]==">50K")).sum()

In [114]:
sumA

3486

In [115]:
porcentaje2= (sumA/total)*100

In [116]:
porcentaje2

10.706059396210192

What percentage of people without advanced education make more than 50K?
Del grupo total de personas sin educacion avanzada, quienes tienen más de 50k

In [117]:
sumB=((~df["education"].isin(["Bachelors","Masters","Doctorate"])) & (df["salary"]==">50K")).sum()

In [118]:
sumC=((~df["education"].isin(["Bachelors","Masters","Doctorate"]))).sum()

In [120]:
porcentaje3= (sumB/sumC)*100

In [121]:
porcentaje3

17.3713601914639

In [129]:
df["hours-per-week"].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
Intp: del grupo de personas que trabajan el numero minimo de horas, que porcentaje gana mas de 50 k

In [130]:
sumD=((df["hours-per-week"]==df["hours-per-week"].min()) & (df["salary"]==">50k")).sum()

In [132]:
sumt=((df["hours-per-week"]==df["hours-per-week"].min())).sum()

In [134]:
porcentaje4=(sumD/sumt)*100

In [135]:
porcentaje4

0.0

What country has the highest percentage of people that earn >50K and what is that percentage?
- Encontrar el país con el porcentaje mas alto de personas que gana >50k
- ¿cual es el porcentaje?

In [153]:
paísrico= df[df["salary"]==">50k"],["native-country","salary"]

In [154]:
paísrico

(Empty DataFrame
 Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
 Index: [],
 ['native-country', 'salary'])

In [155]:
total_por_pais = df["native-country"].value_counts()

In [156]:
ricos_por_pais = df[df["salary"] == ">50K"]["native-country"].value_counts()

In [160]:
porcentaje_ricos = (ricos_por_pais / total_por_pais) * 100
porcentaje_ricos = porcentaje_ricos.sort_values(ascending=False)

native-country
Iran                          41.860465
France                        41.379310
India                         40.000000
Taiwan                        39.215686
Japan                         38.709677
Yugoslavia                    37.500000
Cambodia                      36.842105
Italy                         34.246575
England                       33.333333
Canada                        32.231405
Germany                       32.116788
Philippines                   30.808081
Hong                          30.000000
Greece                        27.586207
China                         26.666667
Cuba                          26.315789
?                             25.042882
Scotland                      25.000000
United-States                 24.583476
Hungary                       23.076923
Ireland                       20.833333
South                         20.000000
Poland                        20.000000
Thailand                      16.666667
Ecuador                       14.285714
Jamaica                       12.345679
Laos                          11.111111
Portugal                      10.810811
Puerto-Rico                   10.526316
Trinadad&Tobago               10.526316
Haiti                          9.090909
El-Salvador                    8.490566
Honduras                       7.692308
Vietnam                        7.462687
Peru                           6.451613
Nicaragua                      5.882353
Mexico                         5.132193
Guatemala                      4.687500
Columbia                       3.389831
Dominican-Republic             2.857143
Holand-Netherlands                  NaN
Outlying-US(Guam-USVI-etc)          NaN
Name: count, dtype: float64

Identify the most popular occupation for those who earn >50K in India.
Primero identificar las ocupaciones en india
2. identificar que ocupaciones ganan mas en india
3. agruparlas de mayor a menor

In [173]:
ocupaciones=df[(df["native-country"]=="India") & (df["salary"]==">50k")]

In [183]:
ocupation=ocupaciones["occupation"].value_counts()