In [34]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [35]:
# 1
df= pd.read_csv("medical_examination.csv")

# 2
df['overweight'] = None

# 3


# 4
def draw_cat_plot():
    # 5
    df_cat = None


    # 6
    df_cat = None
    

    # 7



    # 8
    fig = None


    # 9
    fig.savefig('catplot.png')
    return fig


# 10
def draw_heat_map():
    # 11
    df_heat = None

    # 12
    corr = None

    # 13
    mask = None



    # 14
    fig, ax = None

    # 15



    # 16
    fig.savefig('heatmap.png')
    return fig

Agregue una overweightcolumna a los datos. Para determinar si una persona tiene sobrepeso, primero calcule su IMC dividiendo su peso en kilogramos entre el cuadrado de su altura en metros. Si ese valor es > 25, la persona tiene sobrepeso. Use el valor 0de NO sobrepeso y el valor 1de sobrepeso.

In [39]:
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0

In [37]:
IMC=df["weight"]/(df["height"]**2)

In [38]:
df["overweight"]=(IMC>25).astype(int)

Normalice los datos estableciendo que 0 siempre sean buenos y 1 siempre malos. Si el valor de cholesterolo gluces 1, establezca el valor en 0. Si el valor es mayor que 1, establezca el valor en 1.

In [40]:
df["cholesterol"]=(df["cholesterol"]>1).astype(int)

In [41]:
df["gluc"]=(df["gluc"]>1).astype(int)

Dibuje la gráfica categórica en la draw_cat_plotfunción.

In [ ]:
def draw_cat_plot(df):
    # Crear un DataFrame para el gráfico categórico
    df_cat = pd.melt(
        df,
        id_vars=["cardio"],  # Variable de resultado
        value_vars=["cholesterol", "gluc", "smoke", "alco", "active"]
    )

    # Agrupar y contar los valores
    df_cat = df_cat.groupby(["cardio", "variable", "value"]).size().reset_index(name="total")

    # Dibujar el gráfico categórico
    fig = sns.catplot(
        data=df_cat,
        kind="bar",
        x="variable",
        y="total",
        hue="value",
        col="cardio"
    ).fig

    return fig